<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css"></link>
  <title>Document</title>
</head>
<body>
  <div id="uno">
    <h2>Consulta un servicio por id</h2>
    <form action="javascript:getServicioById();">
        Identificador del servicio a cargar<input id='idservicio' type='text'/>
        <input type="submit"/>
    </form>
    <ul id="singleService"></ul>
</div>

<br/>

<div id="todos">
    <h2>Ver todos los servicios</h2>
    <p><a href="javascript:displayServices();">Cargar todos los servicios</a></p>
    
    <ul id="results"></ul>
</div>

<br/>

<div id="introducir">
    <h2>Nuevo servicio</h2>
    <form id="nuevo-servicio" action="javascript:addServicio();">
        Nombre<input name="nombre" id="nombre" type="text"/>
        Descripcion<input name="descripcion" id="descripcion" type="text"/>
        Categoria<input name="categoria" id="categoria" type="text"/>
        Horas<input name="horas" id="horas" type="number"/>
        Precio<input name="precio" id="precio" type="number"/>
        ID Profesional <input name="profesional" id="profesional" type="text"/>
        <input type="submit"/>
    </form>
</div>
<script src="/js/APIHandler.js"></script>
<script src="/js/profesional.js"></script>
</body>
</html>